# Сборки и мусор студии
.vs/
bin/
ARPGenerator/obj/
AudioConverter/obj/
ImageResizer/obj/
PADGenerator/obj/
Backgrounds/*.*
build/
dist/

# Отладочные символы
*.pdb
*.dbg

# Объектные файлы
*.o
*.obj

# Файлы сборки
*.exe
*.dll
*.so
*.a
*.lib

# Временные файлы и папки сборки
*.tmp
*.log
*.db